@using EnsafMarket.WebApp.ViewModels
@model HomeViewModel

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bienvenue à <span> ENSAFMARKET</span></h1>
        <p>Rejoignez ENSAFMARKET dès maintenant</p>
        @if (Model.User == null)
        {
            <p>
                @Html.ActionLink("Inscription", "Register", "Authentication", null, new { @class = "btn btn-primary btn-lg", role = "button" })
            </p>
        }
        else
        {
            <p>
                @Html.ActionLink("Publier une annonce", "Post", "Advertisement", null, new { @class = "btn btn-primary btn-lg", role = "button" })
            </p>
        }
    </div>
</div>

<div class="container">
    <hr class="my-5" />

    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="text-center">À propos de nous</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 mt-5">
            <h2>Une école est un endroit d'échange et de partage</h2>
            <p class="lead">
                Un Marketplace qui permet aux étudiants de l'Ecole Nationale des Sciences Appliquées de Fès de publier
                et consulter les annonces, en plus de communiquer avec le propriétaire d'une annonce en toute sécurité.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/Content/images/ensaf-home.jpg" alt="Ensaf picture" class="img-fluid mt-4">
        </div>
    </div>

    <hr class="my-5" />
    <div class="row">
        <div class="col-md-4 text-center">
            <h4><i class="fa fa-leanpub" aria-hidden="true"></i></h4>
            <h4 class="text-bl my-4">Déposer vos Annonces</h4>
            <p class="text-left">
                Que ce soit une offre ou une demande, un produit ou un service, cette plateforme vous permet de déposer vos
                annonces afin qu'ekes soient consultable par d'autres utilisateurs.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i></h4>
            <h4 class="text-bl my-4">Consulter les Annonces</h4>
            <p class="text-left">Offre l'opportunité à un utilisateur de découvrir les annonces postées par d'autres utilisateurs.</p>

        </div>
        <div class="col-md-4 text-center">
            <h4><i class="fa fa-users" aria-hidden="true"></i></h4>
            <h4 class="text-bl my-4">Contacter un propriétaire</h4>
            <p class="text-left">Notre plateforme vous permettra d'entrer en contact avec le propriétaire d'une annonce à tout moment.</p>

        </div>
    </div>

    <hr class="my-5" />

    <div class="row bg-primary text-white p-4">
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>Nos statistiques</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h2 class="text-bl my-4">@Model.ProfessorsCount</h2>
                            <p>
                                Professeurs
                            </p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2 class="text-bl my-4">@Model.StudentsCount</h2>
                            <p>
                                Etudiants
                            </p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2 class="text-bl my-4">@Model.AdvertisementsCount</h2>
                            <p>
                                Annonces
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-5" />

    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="text-center">Contactez nous</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="#" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="Name" placeholder="Nom" required="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="Email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="Subject" placeholder="Numéro de téléphone" required="">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="textarea" placeholder="Message" required=""></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div>
    </div>

    <hr class="my-5" />
</div>