@model EnsafMarket.WebApp.ViewModels.BaseViewModel

<!DOCTYPE HTML>
<html lang="zxx">
<head>
    <title>EnsafMarket | @ViewData["Title"] </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="My School Respo  nsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script src="https://kit.fontawesome.com/00a551c8a1.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Bootstrap theme-->
    <link href="~/Content/css/em-theme.css" rel="stylesheet" />
    <!-- Styles -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h4 class="my-0 mr-md-auto font-weight-normal">@Html.ActionLink("EnsafMarket", "Index", "Home")</h4>
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Accueil", "Index", "Home", null, new { @class = "p-2 text-dark nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Offres", "Offers", "Advertisement", null, new { @class = "p-2 text-dark nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Demandes", "Requests", "Advertisement", null, new { @class = "p-2 text-dark nav-link" })
                </li>

                @if (Model.User == null)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Connexion", "Login", "Authentication", null, new { @class = "btn btn-outline-primary mx-2 nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Inscription", "Register", "Authentication", null, new { @class = "btn btn-primary mx-2 nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Publier une annonce", "Post", "Advertisement", null, new { @class = "btn btn-primary mx-2 nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.User.Email
                        </a>
                       
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Profile", "Index", "Profile", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Tableau de bord", "Index", "Dashboard", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Se déconnecter", "Logout", "Authentication", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </div>

    @RenderBody()

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>

    <!-- Jquery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>