@model EnsafMarket.WebApp.ViewModels.BaseViewModel

<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>EnsafMarket | @ViewData["Title"] </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="My School Respo  nsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script src="https://kit.fontawesome.com/00a551c8a1.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Bootstrap theme-->
    <link href="~/Content/css/em-theme.css" rel="stylesheet" />
    <!-- Styles -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1>@Html.ActionLink("EnsafMarket", "Index", "Home")</h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                            <li>@Html.ActionLink("Offres", "Offers", "Advertisement")</li>
                            <li>@Html.ActionLink("Demandes", "Requests", "Advertisement")</li>

                            @if (Model.User == null)
                            {
                                <li>@Html.ActionLink("Connexion", "Login", "Authentication")</li>
                                <li>@Html.ActionLink("Inscription", "Register", "Authentication")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Publier une annonce", "Post", "Advertisement")</li>
                                <li>
                                    @Html.ActionLink(Model.User.Email, "Index", "Profile")
                                    <ul>
                                        <li>@Html.ActionLink("Tableau de bord", "Index", "Dashboard", "", new { @class = "drop-text" })</li>
                                        <li>@Html.ActionLink("Se déconnecter", "Logout", "Authentication", "", new { @class = "drop-text" })</li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>

    @RenderBody()

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2017</p>
        </footer>
    </div>

    <a href="#home" class="move-top text-center">
        <span class="fa fa-angle-double-up" aria-hidden="true"></span>
    </a>

    <!-- Jquery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>