@model EnsafMarket.WebApp.ViewModels.BaseViewModel

<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>EnsafMarket</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="My School Respo  nsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->

    @Styles.Render("~/template/css")


    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
    <!-- Scripts -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>

    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1>@Html.ActionLink("EnsafMarket", "Index", "Home")</h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                            <li>@Html.ActionLink("Offres", "Offers", "Advertisement")</li>
                            <li>@Html.ActionLink("Demandes", "Demands", "Advertisement")</li>

                            @if (Model.User == null)
                            {
                                <li>@Html.ActionLink("Connexion", "Login", "Authentication")</li>
                                <li>@Html.ActionLink("Inscription", "Register", "Authentication")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Publier une annonce", "Post", "Advertisement")</li>
                                <li>
                                    @Html.ActionLink(Model.User.Email, "Index", "Profile")
                                    <ul>
                                        <li>@Html.ActionLink("Tableau de bord", "Index", "Dashboard", "", new { @class = "drop-text" })</li>
                                        <li>@Html.ActionLink("Se déconnecter", "Logout", "Authentication", "", new { @class = "drop-text" })</li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="py-5">
        <div class="container py-xl-4 py-lg-3">
            <div class="row footer-grids">
                <div class="col-lg-2 col-6 footer-grid">
                    <h3 class="mb-sm-4 mb-3">Navigation</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Url.Action("Index","Home")">Accueil</a>
                        </li>
                        <li>
                            <a href="#about"> À propos de nous</a>
                        </li>
                        <li>
                            <a href="#what">Nos services</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-grid">
                    <h3 class="mb-sm-4 mb-3">Rejoignez-nous</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#join">Inscrivez-vous</a>
                        </li>


                    </ul>
                </div>
               
                <div class="col-lg-2 col-6 footer-grid text-lg-right">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#stats">Nos Statistiques</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Login","Home")">Connexion</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Registration","Home")">Inscription</a>
                        </li>
                        <li>
                            <a href="#contact">Contactez-nous</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
                    <div class="footer-logo">
                        <h2 class="text-lg-center text-center">
                            <a class="logo text-wh font-weight-bold" href="@Url.Action("Index","Home")">
                                ENSAFMARKET
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <a href="#home" class="move-top text-center">
        <span class="fa fa-angle-double-up" aria-hidden="true"></span>
    </a>


</body>

</html>