
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>ENSAFMARKET</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="ENSAFMARKET" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>


    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    @Styles.Render("~/template/css")
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->

    <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="@Url.Action("Index","Home")">ENSAFMARKET</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a href="@Url.Action("About","Home")">A propos</a></li>
                            <li><a href="@Url.Action("Index","Home")">Jo</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle toogle-2">
                                    Pages <span class="fa fa-angle-down"
                                                aria-hidden="true"></span>
                                </label>
                                <a href="#">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Events</a></li>
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">What We Do?</a></li>
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Popular Courses</a></li>
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Statistics</a></li>
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Gallery</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            <li><a href="@Url.Action("Login","Home")">Login</a></li>
                            <li><a href="@Url.Action("Registration","Home")">Register</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3lss py-5" id="addad">
        <div class="container py-xl-5 py-lg-3">
            <!-- register  -->
            <div class="modal-body mt-md-2 mt-5">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Profil</h3>
                <form action="#" method="post">
                    <div class="container" style="background-color:#ffffff">
                        <div class="card" style="background-color:#ffffff">
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Id :  </label>
                                <h6 style="display:inline" hidden> Id </h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Nom : </label>
                                <h6 style="display:inline" hidden>Nom</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Prénom : </label>
                                <h6 style="display:inline" hidden>Prenom</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Date : </label>
                                <h6 style="display:inline" hidden>date</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Statut : </label>
                                <h6 style="display:inline" hidden>Statut</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Filière : </label>
                                <h6 style="display:inline" hidden>Filière</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000"> Année  : </label>
                                <h6 style="display:inline" hidden>Year</h6>
                            </div>
                            <div class="form-group" style="color:#000000">
                                <label style="color:#000000">Loisirs : </label>
                                <h6 style="display:inline" hidden>Hobbies</h6>
                            </div>
                        </div>
                    </div>




                    &nbsp;
                    <br />
                    <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Ses annonces</h3>
                    <div class="container" style="background-color:#ffffff">
                        <div class="card" style="background-color:#ffffff">
                            <div class="card" style="background-color:#ffffff">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-8">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4>Nom de l'annonce</h4>

                                                </div>
                                            </div> <div style="display: inline;"> <i class='far fa-clock'></i> Publiée il y a  x heures  </div> &nbsp;  &nbsp;

                                            &nbsp;

                                            <div style="display: inline;">  Service ou produit  </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-muted">
                                                <br>
                                                <button class="btn btn-primary" type="button" style="background-color:#ff7f62;">Détails</button>&nbsp;
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            &nbsp;
                            <div class="card" style="background-color:#ffffff">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-8">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4>Nom de l'annonce</h4>

                                                </div>
                                            </div> <div style="display: inline;"> <i class='far fa-clock'></i> Publiée il y a  x heures  </div> &nbsp;  &nbsp;

                                            &nbsp;

                                            <div style="display: inline;">  Service ou produit  </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-muted">
                                                <br>
                                                <button class="btn btn-primary" type="button" style="background-color:#ff7f62;">Détails</button>&nbsp;
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            &nbsp;
                            <div class="card" style="background-color:#ffffff">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-8">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4>Nom de l'annonce</h4>

                                                </div>
                                            </div> <div style="display: inline;"> <i class='far fa-clock'></i> Publiée il y a  x heures  </div> &nbsp;  &nbsp;

                                            &nbsp;

                                            <div style="display: inline;">  Service ou produit  </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-muted">
                                                <br>
                                                <button class="btn btn-primary" type="button" style="background-color:#ff7f62;">Détails</button>&nbsp;
                                            </p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>






                </form>
            </div>
            <!-- //register -->
        </div>
    </div>
    <!-- //inner banner -->
    <!-- footer -->
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-angle-double-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->

</body>

</html>



