<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>ENSAFMARKET</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="ENSAFMARKET" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>


    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    @Styles.Render("~/template/css")
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1><a href="@Url.Action("Index","Home")">ENSAFMARKET</a></h1>
                </div>
                <!-- //logo -->
                <!-- nav -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a href="@Url.Action("About","Home")">À propos</a></li>
                            <li><a href="@Url.Action("Index","Home")">Rejoignez nous</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle toogle-2">
                                    Pages <span class="fa fa-angle-down"
                                                aria-hidden="true"></span>
                                </label>
                                <a href="#">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul>

                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Notre But</a></li>
                                    
                                    <li><a href="@Url.Action("Index","Home")" class="drop-text">Statistiques</a></li>

                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact","Home")">Contacter nous</a></li>
                            <li><a href="@Url.Action("Login","Home")">Connexion</a></li>
                            <li><a href="@Url.Action("Registration","Home")">Inscription</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- //nav -->
            </div>
        </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3ls py-5" id="addad">
        <div class="container py-xl-5 py-lg-3">
            <!-- register  -->
            <div class="modal-body mt-md-2 mt-5">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Ajouter votre annonce</h3>
                <form action="#" method="post">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Titre de votre annonce" name="Titre annonce" required="">
                    </div>

                    <div class="form-group">
                        <label class="gg">Type de l'annonce : </label>
                        <label class="containeer">
                            Offre
                            <input value="s1" type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containeer">
                            Demande
                            <input value="s2" type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="gg">Contenu de l'annonce : </label>
                        <label class="containeer">
                            Produit
                            <input value="s1" type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="containeer">
                            Service
                            <input value="s2" type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </div>




                    <div class="form-group">
                        <label class="col-form-label">Description de l'annonce : </label>
                        <textarea type="text" class="form-control" placeholder="exemple" name="Description" required=""></textarea>
                    </div>






                    <button type="submit" class="btn button-style-w3">Valider l'annonce</button>
                </form>
            </div>
            <!-- //register -->
        </div>
    </div>
    <!-- //inner banner -->
    <!-- footer -->
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#home" class="move-top text-center">
        <span class="fa fa-angle-double-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->

</body>

</html>