@model EnsafMarket.WebApp.ViewModels.AdvertisementDetailsModelView
@{
    ViewData["Title"] = "Details annonce";
}

@{
    var type = Model.Advertisement.Type == EnsafMarket.Core.Models.AdvertisementType.Offer ? "Offre" : "Demande";
    var contentType = Model.Advertisement.ContentType == EnsafMarket.Core.Models.AdvertisementContentType.Product ? "Produit" : "Service";
    var subtitle = $"{type} de {contentType.ToLower()}";
}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Advertisement.Title</h1>
                <p>@subtitle</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <b>Publiée par:</b>
                    </div>
                    <div class="col-md-8">
                        <p>
                            @Model.Advertisement.Owner.FirstName @Model.Advertisement.Owner.LastName
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <b>Date:</b>
                    </div>
                    <div class="col-md-8">
                        <p>
                            @Model.Advertisement.CreatedAt
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <b>Description:</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>
                            @Model.Advertisement.Description
                        </p>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-12">
                        <h2>Contacter</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Details", "Advertisement", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.ContactMessage)
                                @Html.TextAreaFor(m => m.ContactMessage, new { @class = "form-control", placeholder = "Message pour le propriétaire de l'annonce", rows = 5 })
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Contacter</button>
                        }
                    </div>
                </div>

                @if (Model.ErrorMessage != null)
                {
                    <div class="row pt-4">
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert">
                                @Model.ErrorMessage
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row py-4">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Annonces similaires</h2>
                    </div>
                </div>

                @foreach (var similarAdvertisement in Model.SimilarAdvertisements)
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_AdvertisementPartial", similarAdvertisement)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>